@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    «Tourist Club» - Tour Operator, one of the largest in Ukraine. The company began operations in 1995, and immediately took a strong position in the tourism industry. This was made possible thanks to a fundamentally new approach to the management of tour operator activities, as well as extensive professional experience of the team of highly qualified specialists, has long been successfully operating in the tourist market.

    Today the «Tourist Club» is a recognized leader in the tourism industry. The company is accredited by the International Air Transport Association (IATA).

    During his tenure, «Tourist Club» gained a reputation as a reliable partner and traditionally holds a leading position in the rankings of tour operators in Ukraine, has repeatedly received high marks tourism professionals and was awarded numerous awards.

    The company «Tourist Club» is a full member of the Association of leaders of tourist business in Ukraine (ALTU), brings together the largest tour operators in Ukraine, for which the development of Ukrainian tourist industry and the interest of common standards for the entire industry is the fundamental criterion in the work.
</p>
