@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>

<address>
    Lenina 1<br />
    Zapirizhzhya, Ukraine, 69065<br />
    <abbr title="Phone">P:</abbr>
    8 800 555-35-35
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mancersoft@gmail.com">mancersoft@gmail.com</a>
</address>